@model IList<QuizFormattedData>
@{
    ViewData["Title"] = "Quiz Page";
    var list = new List<string> { "Header" };
}

<div class="container">
    <div class="row m-auto border-bottom border-dark-subtle pb-2" style="height:50px; width:100%">
        <div class="col d-flex align-items-center">
            <h2 class="m-0">
                Custom Quizes
            </h2>
        </div>
        <div class="col text-end d-flex align-items-center justify-content-end">
            <a asp-route-mode="Create" asp-controller="ManageQuiz" asp-action="AddQuizView" class="btn btn-info">
                Add new
            </a>
        </div>
    </div>
    <div class="row pt-3">
        @for (var i = 0; i < Model.Count; i++)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header row d-flex">
                        <div class="col align-self-center">
                            <h4 class="my-0 font-weight-normal">@Model[i].Name</h4>
                        </div>
                        <div class="col-auto align-self-end">
                            <a class="btn btn-outline-primary" asp-route-mode="Update" asp-controller="ManageQuiz" asp-action="EditQuiz" asp-route-id="@Model[i].Id">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn btn-outline-primary" asp-controller="ManageQuiz" asp-action="DeleteQuiz" asp-route-id="@Model[i].Id">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row h4 ">
                            <p class="font-monospace">
                                Number of questions: @Model[i].QuestionsCount
                            </p>
                        </div>
                        <div class="row">
                            <div class="col h4 align-self-center mb-0" style="font-weight:bold;">
                                @Model[i].CreationDate
                            </div>
                            <div class="col-auto">
                                <a asp-route-id="@Model[i].Id" asp-action="StartQuiz" asp-controller="Quiz" type="button" class="btn btn-lg btn-block btn-outline-primary">Start</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts{
    @{
          //<partial name="_AddQuizModal" model="new QuizViewModel()"></partial>
    }
}

